{%extends "pihub-core/base.html"%}
{%block html_body%}
<body>
  <div class="full height" id="dashboard-wrapper">
    <div class="toc">
      <div class="ui vertical inverted left visible menu sidebar visible">
        {%for item in left_menu%}
        <a class="item" href="{{item.url}}">
          {%if item.icon%}
          <i class="{{item.icon}} icon"></i>
          {%endif%}
          {{item.name}}
        </a>
        {%endfor%}
        <div class="right menu">
          {%for item in right_menu%}
          <a class="item" href="{{item.url}}">
            {%if item.icon%}
            <i class="{{item.icon}} icon"></i>
            {%endif%}
            {{item.name}}
          </a>
          {%endfor%}
        </div>
      </div>
    </div>
    <div class="article">
      {%if main%}
        {{main()|safe}}
      {%else%}
        <div class="ui masthead vertical segment">
          <h1>Dashboard</h1>
        </div>
        {%for section in dashboard.sections%}
          {%set content = section.render_dashboard_section()%}
          {%if content%}
          <div class="ui segment">
            <h4 class="ui header">Speedtest</h4>
            <p>{{content|safe}}</p>
          </div>
          {%endif%}
        {%endfor%}
      {%endif%}
    </div>
  </div>
</body>
{%endblock html_body%}
