{%extends "pihub-core/dashboard-section.html"%}
{%block content%}
  <h4 class="ui header">
    {{data.feed.title}}
    <div class="ui sub header">{{data.feed.description}}</div>
  </h4>
  <table class="ui celled striped table">
    {%for entry in data.entries%}
    <tr><td>
      <div class="content">
        <h5 class="ui header">
          {%if entry.link%}
          <a href={{entry.link}}>{{entry.title}}</a>
          {%else%}
          <span>{{entry.title}}</span>
          {%endif%}
        </h5>
        <p><i>{{entry.published}}</i></p>
        {%if entry.summary%}
          <div class="description">{{entry.summary|safe}}</div>
        {%endif%}
      </div>
    </td></tr>
    {%endfor%}
  </table>
{%endblock content%}
