
import os

host = 'localhost'
port = 7442
debug = False

timezone = None

secret_key = '{secret key here}'

components = [
  '@pihub/core/components/dashboard',
  '@pihub/core/components/duckdns',
  '@pihub/core/components/scheduler',
  '@pihub/core/components/speedtest',
  '@pihub/core/components/auth',
]

database = {
  'provider': 'sqlite',
  'filename': os.path.abspath('pihub.sqlite'),
  'create_db': True
}

auth = {
  'password': '{password here}',
  'token_timeout': {'hours': 2}
}

duckdns = {
  'token': 'Your DuckDNS Token Here',
  'domains': ['yourducksdnsdomain'],
  'interval': {'type': 'cron', 'hour': '*'}
}

speedtest = {
  'interval': {'type': 'cron', 'minute': '*/15'}
}

enable_scheduler_overview = True
